server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/saas_platform
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate.format_sql: true

flyway:
  enabled: true
  baseline-on-migrate: true

app:
  jwt:
    secret: mysecretkey
    expiry-ms: 86400000
